We probably remember that we are working with 4-d data, where the dimensions are TIME x DEPTH x LAT x LON. 

The goal for this notebook is to loop through all the times and write the dates in YEARMONTHDAY format.

In [1]:
import numpy as np
from netCDF4 import Dataset
import datetime as td

Before we look at our data, here is an example of working with date and timedelta. Say you want to find out the date 10 years after March 9th, 2020:

In [2]:
march_9_2020 = td.date(2020,3,9)
print(march_9_2020)

2020-03-09

In [3]:
ten_years = td.timedelta(days =10*365) # this doesn't consider leap years

In [4]:
date_in_10_years = ten_years + march_9_2020
print(date_in_10_years)

2030-03-07

-------------------
# Now let's look at our data

The first thing is to import the dataset as a Dataset object

In [5]:
#do that here:
data = Dataset("/Users/brownscholar/Desktop/n-atlantic-2018.nc")

Then we want to read in the time variable. Do that here:

In [6]:
# do that here: 
time = data.variables["time"][:]

Print the shape of the time variable:

In [8]:
# do that here:
time.shape

(261,)

Before we start using datetime, in terminal (open a new window or tab) look at the units of time. Using this info, define a start date:

In [13]:
# do this here
#377064

start_date = td.date(1950,1,1)+td.timedelta(days =377064/24)
print(start_date)

1993-01-06

Now, looping through the time numpy array, calculate and print the date using timedelta:

In [15]:
# do this here
for i in time:
    days_from_start = i/24
    print(start_date+ td.timedelta(days_from_start))

2036-01-12
2036-01-19
2036-01-26
2036-02-02
2036-02-09
2036-02-16
2036-02-23
2036-03-01
2036-03-08
2036-03-15
2036-03-22
2036-03-29
2036-04-05
2036-04-12
2036-04-19
2036-04-26
2036-05-03
2036-05-10
2036-05-17
2036-05-24
2036-05-31
2036-06-07
2036-06-14
2036-06-21
2036-06-28
2036-07-05
2036-07-12
2036-07-19
2036-07-26
2036-08-02
2036-08-09
2036-08-16
2036-08-23
2036-08-30
2036-09-06
2036-09-13
2036-09-20
2036-09-27
2036-10-04
2036-10-11
2036-10-18
2036-10-25
2036-11-01
2036-11-08
2036-11-15
2036-11-22
2036-11-29
2036-12-06
2036-12-13
2036-12-20
2036-12-27
2037-01-03
2037-01-10
2037-01-17
2037-01-24
2037-01-31
2037-02-07
2037-02-14
2037-02-21
2037-02-28
2037-03-07
2037-03-14
2037-03-21
2037-03-28
2037-04-04
2037-04-11
2037-04-18
2037-04-25
2037-05-02
2037-05-09
2037-05-16
2037-05-23
2037-05-30
2037-06-06
2037-06-13
2037-06-20
2037-06-27
2037-07-04
2037-07-11
2037-07-18
2037-07-25
2037-08-01
2037-08-08
2037-08-15
2037-08-22
2037-08-29
2037-09-05
2037-09-12
2037-09-19
2037-09-26
2037-10-03
2037-10-10
2037-10-17
2037-10-24
2037-10-31
2037-11-07
2037-11-14
2037-11-21
2037-11-28
2037-12-05
2037-12-12
2037-12-19
2037-12-26
2038-01-02
2038-01-09
2038-01-16
2038-01-23
2038-01-30
2038-02-06
2038-02-13
2038-02-20
2038-02-27
2038-03-06
2038-03-13
2038-03-20
2038-03-27
2038-04-03
2038-04-10
2038-04-17
2038-04-24
2038-05-01
2038-05-08
2038-05-15
2038-05-22
2038-05-29
2038-06-05
2038-06-12
2038-06-19
2038-06-26
2038-07-03
2038-07-10
2038-07-17
2038-07-24
2038-07-31
2038-08-07
2038-08-14
2038-08-21
2038-08-28
2038-09-04
2038-09-11
2038-09-18
2038-09-25
2038-10-02
2038-10-09
2038-10-16
2038-10-23
2038-10-30
2038-11-06
2038-11-13
2038-11-20
2038-11-27
2038-12-04
2038-12-11
2038-12-18
2038-12-25
2039-01-01
2039-01-08
2039-01-15
2039-01-22
2039-01-29
2039-02-05
2039-02-12
2039-02-19
2039-02-26
2039-03-05
2039-03-12
2039-03-19
2039-03-26
2039-04-02
2039-04-09
2039-04-16
2039-04-23
2039-04-30
2039-05-07
2039-05-14
2039-05-21
2039-05-28
2039-06-04
2039-06-11
2039-06-18
2039-06-25
2039-07-02
2039-07-09
2039-07-16
2039-07-23
2039-07-30
2039-08-06
2039-08-13
2039-08-20
2039-08-27
2039-09-03
2039-09-10
2039-09-17
2039-09-24
2039-10-01
2039-10-08
2039-10-15
2039-10-22
2039-10-29
2039-11-05
2039-11-12
2039-11-19
2039-11-26
2039-12-03
2039-12-10
2039-12-17
2039-12-24
2039-12-31
2040-01-07
2040-01-14
2040-01-21
2040-01-28
2040-02-04
2040-02-11
2040-02-18
2040-02-25
2040-03-03
2040-03-10
2040-03-17
2040-03-24
2040-03-31
2040-04-07
2040-04-14
2040-04-21
2040-04-28
2040-05-05
2040-05-12
2040-05-19
2040-05-26
2040-06-02
2040-06-09
2040-06-16
2040-06-23
2040-06-30
2040-07-07
2040-07-14
2040-07-21
2040-07-28
2040-08-04
2040-08-11
2040-08-18
2040-08-25
2040-09-01
2040-09-08
2040-09-15
2040-09-22
2040-09-29
2040-10-06
2040-10-13
2040-10-20
2040-10-27
2040-11-03
2040-11-10
2040-11-17
2040-11-24
2040-12-01
2040-12-08
2040-12-15
2040-12-22
2040-12-29
2041-01-05

--------------------
# Finally,
we want to turn these date objects into strings that are of the form YEARMONTHDAY. Here is an example of how to do this using the ``march_9_2020`` date we made before:

In [16]:
print(march_9_2020.strftime("%y") + march_9_2020.strftime("%m") + march_9_2020.strftime("%d"))

# if this is confusing to you google the function "strftime"

200309

Add this to your loop and print the YEARMONTHDAY date for each date.

Now: How can we add this to our code to change our file names?

In [17]:
# do this here
for i in time:
    days_from_start = i/24
    date = (start_date+ td.timedelta(days_from_start))
    date_string = date.strftime("%y") + date.strftime("%m") + date.strftime("%d")
    print(date_string)

360112
360119
360126
360202
360209
360216
360223
360301
360308
360315
360322
360329
360405
360412
360419
360426
360503
360510
360517
360524
360531
360607
360614
360621
360628
360705
360712
360719
360726
360802
360809
360816
360823
360830
360906
360913
360920
360927
361004
361011
361018
361025
361101
361108
361115
361122
361129
361206
361213
361220
361227
370103
370110
370117
370124
370131
370207
370214
370221
370228
370307
370314
370321
370328
370404
370411
370418
370425
370502
370509
370516
370523
370530
370606
370613
370620
370627
370704
370711
370718
370725
370801
370808
370815
370822
370829
370905
370912
370919
370926
371003
371010
371017
371024
371031
371107
371114
371121
371128
371205
371212
371219
371226
380102
380109
380116
380123
380130
380206
380213
380220
380227
380306
380313
380320
380327
380403
380410
380417
380424
380501
380508
380515
380522
380529
380605
380612
380619
380626
380703
380710
380717
380724
380731
380807
380814
380821
380828
380904
380911
380918
380925
381002
381009
381016
381023
381030
381106
381113
381120
381127
381204
381211
381218
381225
390101
390108
390115
390122
390129
390205
390212
390219
390226
390305
390312
390319
390326
390402
390409
390416
390423
390430
390507
390514
390521
390528
390604
390611
390618
390625
390702
390709
390716
390723
390730
390806
390813
390820
390827
390903
390910
390917
390924
391001
391008
391015
391022
391029
391105
391112
391119
391126
391203
391210
391217
391224
391231
400107
400114
400121
400128
400204
400211
400218
400225
400303
400310
400317
400324
400331
400407
400414
400421
400428
400505
400512
400519
400526
400602
400609
400616
400623
400630
400707
400714
400721
400728
400804
400811
400818
400825
400901
400908
400915
400922
400929
401006
401013
401020
401027
401103
401110
401117
401124
401201
401208
401215
401222
401229
410105